h1 {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 10px 0px;
}

h3, h4 {
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p, ul, li{
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

section {
    margin-top: 50px;
}

.company {
    margin-top: 25px;
    margin-bottom: 25px;
}

.job {
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    text-align: center;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}